.dark-theme {
          --theme-bg-surface: #292c43;
  --theme-bg-subtle: #35384C;
  --theme-bg-subtle-2x: #292c43;
  --theme-bg-muted: #35384C;
  --theme-bg-muted-hover: #667085;
  --theme-bg-disabled: #292c43;
  --theme-bg-canvas: #475467;
  --theme-bg-field: #35384C;
  --theme-accent-disabled: #d1e0ff;
  --theme-accent-default: #528bff;
  --theme-accent-subtle: #eff4ff;
  --theme-accent-subtle-2x: #d1e0ff;
  --theme-accent-muted: #84adff;
  --theme-accent-emphasis: #155eef;
  --theme-accent-hover: #2970ff;
  --theme-accent-on-accent: #ffffff;
  --theme-fg-default: #171721;
  --theme-fg-placeholder: #667085;
  --theme-fg-muted: #eaecf0;
  --theme-fg-subtle: #b3b8db;
  --theme-fg-subtle-2x: #b3b8db;
  --theme-fg-subtle-3x: #8e8fa3;
  --theme-fg-on-disabled: #d0d5dd;
  --theme-fg-disabled: #344054;
  --theme-fg-strong: #d5d9eb;
  --theme-fg-strongest: #ffffff;
  --theme-warning-default: #dc6803;
  --theme-warning-subtle: #fef0c7;
  --theme-warning-muted: #fec84b;
  --theme-warning-emphasis: #f79009;
  --theme-warning-on-warning: #b54708;
  --theme-info-default: #8098f9;
  --theme-info-subtle: #e0eaff;
  --theme-info-subtle-2x: #ffffff00;
  --theme-info-subtle-3x: #28173d;
  --theme-info-muted: #a4bcfd;
  --theme-info-emphasis: #528bff;
  --theme-info-emphasis-secondary: #6172f3;
  --theme-info-emphasis-hover: #84adff;
  --theme-info-on-info: #ffffff;
  --theme-error-default: #f97066;
  --theme-error-subtle: #fee4e2;
  --theme-error-subtle-2x: #fef3f2;
  --theme-error-muted: #f97066;
  --theme-error-emphasis: #f04438;
  --theme-error-hover: #b42318;
  --theme-error-disabled: #fecdca;
  --theme-error-on-error: #ffffff;
  --theme-success-default: #12b76a;
  --theme-success-subtle: #203828;
  --theme-success-subtle-2x: #efefef;
  --theme-success-muted: #054f31;
  --theme-success-emphasis: #32d583;
  --theme-success-on-success: #ffffff;
  --theme-success-on-success-mono: #12b76a;
  --theme-input-background: #ffffff;
  --theme-input-text: #171721;
  --theme-input-placeholder: #667085;
  --theme-input-border-default: #667085;
  --theme-input-border-strong: #98a2b3;
  --theme-input-border-strong-2x: #eaecf0;
  --theme-input-border-subtle-1x: #344054;
  --theme-input-border-subtle-2x: #475467;
  --theme-input-border-alert-1: #22ccee;
  --theme-input-border-disabled: #344054;
  --theme-input-border-focused: #8983f840;
  --theme-input-fg-disabled: #d0d5dd;
  --theme-border-default: #35384C;
  --shadow-xs: 0px 3px 4px 0px #00000040;
  --shadow-sm: 0px 6px 12px -2px #00000040;
  --shadow-md: 0px 10px 14px 0px #0000002e;
  --shadow-lg: 0px 15px 20px 0px #0000002e;
  --shadow-xl: 0px 20px 24px 2px #0000002e;
  --shadow-2xl: 0px 28px 48px 3px #00000040;
  --shadow-3xl: 0px 38px 64px 4px #0000004d;
  --shadow-xs-focused-4px-primary-100: 0px 4px 4px 0px #00000040;
  --shadow-on-dark-xs: 0px 3px 4px 0px #00000040;
  --shadow-on-dark-sm: 0px 6px 12px -2px #00000040;
  --shadow-on-dark-md: 0px 10px 14px 0px #0000002e;
  --shadow-on-dark-lg: 0px 15px 20px 0px #0000002e;
  --shadow-on-dark-xl: 0px 20px 24px 2px #0000002e;
  --shadow-on-dark-2xl: 0px 28px 48px 3px #00000040;
  --shadow-on-dark-3xl: 0px 38px 64px 4px #0000004d;
  --shadow-on-light-3xl: 0px 32px 64px -12px #10182833;
  --shadow-on-light-2xl: 0px 24px 48px -12px #10182840;
  --shadow-on-light-xl: undefinedpx undefinedpx undefinedpx undefinedpx undefined;
  --shadow-on-light-lg: undefinedpx undefinedpx undefinedpx undefinedpx undefined;
  --shadow-on-light-md: undefinedpx undefinedpx undefinedpx undefinedpx undefined;
  --shadow-on-light-sm: undefinedpx undefinedpx undefinedpx undefinedpx undefined;
  --shadow-on-light-xs: 0px 1px 2px 0px #1f293714;
  --shadow-focused-default: 0px 0px 0px 4px #8983f840;
  --shadow-focused-error: 0px 0px 0px 4px #673532, 0px 1px 2px 0px #1018280d;
  --shadow-focused-gray: 0px 0px 0px 4px #f2f4f7, 0px 1px 2px 0px #1018280d;
  --shadow-focused-success: 0px 0px 0px 4px #517254, 0px 1px 2px 0px #517254;
  --divider-on-light-right: 1px 0px 0px 0px #f2f2f2;
  --divider-on-light-top: inset 0px 1px 0px 0px #f2f2f2;
  --divider-on-light-bottom: 0px 1px 0px 0px #ebebeb;
  --divider-on-dark-top: inset 0px 1px 0px 0px #3e4152;
  --divider-on-dark-right: 1px 0px 0px 0px #3e4152;
  --divider-on-dark-bottom: 0px 1px 0px 0px #3e4152;
  --divider-on-dark-bottom-inner: inset 0px -1px 0px 0px #3e4152;
  --bar-primary-selected: inset 2px 0px 0px 0px #3e7eff;
  --selected-item-primary: inset 2px 0px 0px 0px #3e7eff;
  --selected-item-white: inset 2px 0px 0px 0px #ffffff;
  --selected-item-orange: inset 2px 0px 0px 0px #ff692e;
  --selected-item-blood-orange: inset 2px 0px 0px 0px #f6c46a;
      }