.light-theme {
          --theme-bg-surface: #ffffff;
  --theme-bg-subtle: #f2f4f7;
  --theme-bg-subtle-2x: #f9fafb;
  --theme-bg-subtle-3x: #fcfcfd;
  --theme-bg-muted: #eaecf0;
  --theme-bg-canvas: #fcfcfd;
  --theme-bg-primary-default: #42307d;
  --theme-bg-primary-subtle: #d6bbfb;
  --theme-bg-primary-subtle-2x: #e9d7fe;
  --theme-bg-primary-subtle-3x: #f4ebff;
  --theme-bg-primary-subtle-4x: #f9f5ff;
  --theme-bg-primary-muted: #b692f6;
  --theme-accent-default: #ffcd00;
  --theme-accent-subtle: #fffae6;
  --theme-accent-muted: #b59200;
  --theme-accent-emphasis: #e8bb00;
  --theme-accent-on-accent: #003b71;
  --theme-accent-disabled: #003b71;
  --theme-accent-secondary-default: #33aee5;
  --theme-accent-secondary-subtle: #e6f5fc;
  --theme-accent-secondary-muted: #006d9e;
  --theme-accent-secondary-emphasis: #006d9e;
  --theme-accent-secondary-disabled: #00557a;
  --theme-accent-secondary-on-accent: #6941c6;
  --theme-fg-default: #344054;
  --theme-fg-subtle: #475467;
  --theme-fg-subtle-2x: #667085;
  --theme-fg-subtle-3x: #98a2b3;
  --theme-fg-muted: #98a2b3;
  --theme-fg-disabled: #d0d5dd;
  --theme-fg-on-disabled: #1d2939;
  --theme-fg-on-accent: #ffffff;
  --theme-fg-strongest: #101828;
  --theme-fg-placeholder: #98a2b3;
  --theme-fg-primary-default: #6941c6;
  --theme-fg-primary-subtle: #b692f6;
  --theme-fg-primary-subtle-2x: #d6bbfb;
  --theme-fg-primary-subtle-3x: #f4ebff;
  --theme-fg-primary-subtle-4x: #f9f5ff;
  --theme-fg-primary-muted: #e9d7fe;
  --theme-warning-default: #dc6803;
  --theme-warning-subtle: #fef0c7;
  --theme-warning-subtle-2x: #fffaeb;
  --theme-warning-subtle-3x: #fffcf5;
  --theme-warning-subtle-4x: #fbf9f4;
  --theme-warning-muted: #fedf89;
  --theme-warning-emphasis: #b54708;
  --theme-warning-on-warning: #b54708;
  --theme-info-default: #2970ff;
  --theme-info-subtle: #d1e0ff;
  --theme-info-subtle-2x: #eff4ff;
  --theme-info-subtle-3x: #f5f8ff;
  --theme-info-subtle-4x: #fbfcff;
  --theme-info-muted: #b2ccff;
  --theme-info-emphasis: #004eeb;
  --theme-info-on-info: #004eeb;
  --theme-error-default: #d92d20;
  --theme-error-subtle: #fee4e2;
  --theme-error-subtle-2x: #fef3f2;
  --theme-error-subtle-3x: #fffbfa;
  --theme-error-subtle-4x: #fffcfc;
  --theme-error-muted: #fecdca;
  --theme-error-emphasis: #b42318;
  --theme-error-on-error: #b42318;
  --theme-success-default: #12b76a;
  --theme-success-subtle: #d1fadf;
  --theme-success-subtle-2x: #ecfdf3;
  --theme-success-subtle-3x: #f6fef9;
  --theme-success-subtle-4x: #fafffc;
  --theme-success-muted: #a6f4c5;
  --theme-success-emphasis: #027a48;
  --theme-success-on-success: #027a48;
  --theme-input-background: #ffffff;
  --theme-input-text-default: #667085;
  --theme-input-text-focused: #101828;
  --theme-input-text-filled: #101828;
  --theme-input-placeholder: #98a2b3;
  --theme-input-border-default: #d0d5dd;
  --theme-input-border-disabled: #d0d5dd;
  --theme-input-border-focused: #d6bbfb;
  --theme-input-border-error: #fda29b;
  --theme-input-border-semi-disabled: #d6bbfb;
  --theme-input-fg-disabled: #d0d5dd;
  --theme-border-default: #d0d5dd;
  --theme-border-subtle: #eaecf0;
  --theme-border-subtle-2x: #f2f4f7;
  --theme-border-semi-focused-primary: #e9d7fe;
  --theme-shadow-color: #303133;
  --theme-semi-bg-default: #53389e;
  --theme-semi-bg-canvas: #6941c6;
  --focus-ring-4px-primary-100: 0px 0px 0px 4px #ebefff;
  --focus-ring-4px-gray-100: 0px 0px 0px 4px #f2f4f7;
  --focus-ring-4px-error-100: 0px 0px 0px 4px #fee4e2;
  --focus-ring-4px-gray-500: 0px 0px 0px 4px #667085;
  --focus-ring-4px-primary-500: 0px 0px 0px 4px #9e77ed;
  --shadow-xs: 0px 1px 2px 0px #1018280d;
  --shadow-sm: undefinedpx undefinedpx undefinedpx undefinedpx undefined;
  --shadow-md: undefinedpx undefinedpx undefinedpx undefinedpx undefined;
  --shadow-lg: undefinedpx undefinedpx undefinedpx undefinedpx undefined;
  --shadow-xl: undefinedpx undefinedpx undefinedpx undefinedpx undefined;
  --shadow-2xl: 0px 24px 48px -12px #1018282e;
  --shadow-3xl: 0px 32px 64px -12px #10182824;
  --shadow-xs-focused-4px-primary-100: undefinedpx undefinedpx undefinedpx undefinedpx undefined;
  --shadow-semi-xs-focused-primary: 0px 0px 0px 4px #b692f6, 0px 1px 2px 0px #1018280d;
  --shadow-xs-focused-4px-gray-100: undefinedpx undefinedpx undefinedpx undefinedpx undefined;
  --shadow-xs-focused-4px-error-100: undefinedpx undefinedpx undefinedpx undefinedpx undefined;
  --shadow-sm-focused-4px-primary-100: undefinedpx undefinedpx undefinedpx undefinedpx undefined;
  --shadow-sm-focused-4px-gray-100: undefinedpx undefinedpx undefinedpx undefinedpx undefined;
  --shadow-portfolio-mockup-main-centre-md: 0px 75px 150px 0px #34405424;
  --shadow-portfolio-mockup-main-centre-lg: 0px 100px 200px 0px #3440542e;
  --shadow-portfolio-mockup-overlay-right-lg: -100px 100px 150px 0px #3440541f;
  --shadow-portfolio-mockup-overlay-left-lg: 100px 100px 150px 0px #3440541f;
  --shadow-portfolio-mockup-grid-shadow-md: 32px 32px 64px 0px #34405414;
  --gradient-gray-600-500-90deg: linear-gradient(90deg, #475467 0%, #667085 100%);
  --gradient-gray-700-600-45deg: linear-gradient(45deg, #344054 0%, #475467 100%);
  --gradient-gray-800-600-45deg: linear-gradient(45deg, #1d2939 0%, #475467 100%);
  --gradient-gray-800-600-90deg: linear-gradient(90deg, #1d2939 0%, #475467 100%);
  --gradient-gray-800-700-26-5deg: linear-gradient(27deg, #1d2939 0%, #344054 100%);
  --gradient-gray-900-600-45deg: linear-gradient(45deg, #101828 0%, #475467 100%);
  --gradient-primary-600-500-90deg: linear-gradient(90deg, #003b71 0%, #009ade 100%);
  --gradient-primary-700-600-45deg: linear-gradient(45deg, #006d9e 0%, #003667 100%);
  --gradient-primary-800-600-45deg: linear-gradient(45deg, #00203e 0%, #008cca 100%);
  --gradient-primary-900-600-45deg: linear-gradient(45deg, #00192f 0%, #008cca 100%);
  --gradient-primary-800-700-27deg: linear-gradient(27deg, #00203e 0%, #006d9e 100%);
  --gradient-primary-800-600-90deg: linear-gradient(90deg, #00203e 0%, #008cca 100%);
      }